@import "bootstrap/scss/bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.jumbotron {
    background: asset-url('food-background.jpg');
    background-size: 100%;
}

a {
    color: #dc3545;
}

.chef-info {
    margin-top: 5px;
}
